<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo App</title>
</head>
<body>
<div id="todo-list-app">
    <h1>My Todos</h1>
    <ul>
        <li v-for="(task, index) in tasks" :key="task.id">{{ task }}
            <span @click="deleteTask(index)">[x]</span>
            <span @click="editTask(index)">[o]</span>
        </li>
    </ul>
    <form @submit.prevent="setTask">
        <input type="text" v-model="newTask">
        <span class="input-group-btn"><button class="btn btn-primary">{{changeButtonText}}</button></span>
<!--        <input type="submit" :value="changeButtonText" @click="setTask()">-->
    </form>
</div>
<script src="https://unpkg.com/vue@next"></script>
<script src="main.js"></script>
</body>
</html>
