<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo App</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div id="todo-list-app">
    <h1>My Todos</h1>
    <ul>
        <li v-for="(task, index) in tasks" :key="task.id">{{ task }}
            <span class="buttons">
                <span class="delete-btn" @click="deleteTask(index)">削除</span>
                <span class="edit-btn" @click="editTask(index)">編集</span>
            </span>
        </li>
    </ul>
    <form @submit.prevent="setTask">
        <input type="text" v-model="newTask">
        <button class="input-btn">{{changeButtonText}}</button>
    </form>
</div>
<script src="https://unpkg.com/vue@next"></script>
<script src="main.js"></script>
</body>
</html>
